<div class= "container text-center">
  <h1>About Page</h1>
  <p>We are DevMatch. Our company focuses on creating an exclusive community 
  for developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, blanditiis, similique magnam alias architecto voluptatum rem maiores impedit odio unde sint animi reprehenderit molestiae dolores illum et est totam asperiores!</p>
</div>